<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pg">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Event_date_time"></activity>
        <activity android:name=".user.HealthEventUser" />
        <activity android:name=".speciality.HealthEventActivity" />
        <activity android:name=".user.ReligionUser" />
        <activity android:name=".speciality.ReligionActivity" />
        <activity android:name=".user.FinanceUser" />
        <activity android:name=".speciality.FinanceActivity" />
        <activity android:name=".user.RelationUser" />
        <activity android:name=".speciality.RelationActivity" />
        <activity android:name=".user.GrowthUser" />
        <activity android:name=".speciality.GrowthActivity" />
        <activity android:name=".user.FamilyUser" />
        <activity android:name=".speciality.FamilyActivity" />
        <activity android:name=".user.HealthUser" />
        <activity android:name=".speciality.HealthActivity" />
        <activity
            android:name=".PrivateMessageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ThereProfileUserActivity" />
        <activity android:name=".ThereProfileSpecialistActivity" />
        <activity android:name=".ProfileUserActivity" />
        <activity android:name=".ProfileSpecialistActivity" />
        <activity android:name=".EditProfileUserActivity" />
        <activity android:name=".EditProfileSpecialistActivity" />
        <activity
            android:name=".RegisterSpecialListActivity"
            android:parentActivityName=".Register" />
        <activity
            android:name=".RegisterUserActivity"
            android:parentActivityName=".Register" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ImageDetailActivity" />
        <activity android:name=".PostDetailActivity" />
        <activity android:name=".AddPostActivity" />
        <activity android:name=".DashboardActivity" />
        <activity
            android:name=".Register"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".RestPass" />
        <activity android:name=".MainActivity" />
        <activity android:name=".WelcomS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notifications.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.pg"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>
    </application>

</manifest>